fastapi==0.115.9
uvicorn==0.34.2
langchain==0.3.25
langchain_community==0.3.23
langchain_chroma==0.2.4
langchain_core==0.3.60
langchain_ollama==0.3.3
langchain_text_splitters==0.3.8
pydantic==2.11.4
python-dotenv==1.1.0
FlashRank==0.2.10